.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.clgname {
  margin: 20px 0;
}
.clgname input {
  /* margin: 20px; */
  width: 100%;
}

#universityform .heading1 {
  background-color: #009933;
  color: white;
    padding: 10px 30px;
    width: 390px;
    text-align: center;
    border-radius: 10px;
    font-family: math;
}

#universityform p {
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.css-zow5z4-MuiGrid-root {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: -24px;
  width: calc(100% + 24px);
  margin-left: -24px;
}

.css-zow5z4-MuiGrid-root>.MuiGrid-item {
  padding-left: 24px;
}
.css-zow5z4-MuiGrid-root>.MuiGrid-item {
  padding-top: 24px;
}

.css-rwss59 {
  margin-bottom: 12px;
  opacity: 1;
  background: transparent;
  color: #344767;
  border-radius: none;
  box-shadow: none;
}

.css-1h15ts-MuiPaper-root-MuiCard-root {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
  box-shadow: 0rem 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1), 0rem 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.06);
  overflow: visible;
}

.css-p6siio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  opacity: 1;
  background: transparent;
  color: #344767;
  border-radius: none;
  box-shadow: none;
}

.css-79or14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin-top: -24px;
  opacity: 1;
  background: linear-gradient(195deg, #42424a, #191919);
  color: #ffffff;
  border-radius: 0.75rem;
  box-shadow: 0rem 0.25rem 1.25rem 0rem rgba(0, 0, 0, 0.14), 0rem 0.4375rem 0.625rem -0.3125rem rgba(64, 64, 64, 0.4);
}

.css-8k5edi {
  text-align: right;
  line-height: 1.25;
  opacity: 1;
  background: transparent;
  color: #344767;
  border-radius: none;
  box-shadow: none;
}

.css-17li347-MuiDivider-root {
  margin: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-width: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: thin;
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(52, 71, 103, 0), rgba(52, 71, 103, 0.4), rgba(52, 71, 103, 0))!important;
  height: 0.0625rem;
  margin: 1rem 0;
  border-bottom: none;
  opacity: 0.25;
}

.css-bln954 {
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  opacity: 1;
  background: transparent;
  color: #344767;
  border-radius: none;
  box-shadow: none;
}

#form h5 {
  font-weight: bold;
}

.collegesearch .ri-add-fill {
  font-size: 1.5em;
  /* margin: 0 2em; */
  background-color: navy;
  color: white;
  border-radius: 50%;
}
.collegesearch .ri-indeterminate-circle-line {
  font-size: 1.5em;
  /* margin: 0 2em; */
  background-color: navy;
  color: white;
  border-radius: 50%;
}


.ri-add-fill {
  font-size: 1.8em;
  /* margin: 0 2em; */
  /* background-color: blue; */
  color: navy;
  border-radius: 50%;
}

.ri-indeterminate-circle-line {
  font-size: 1.8em;
  /* margin: 0 2em; */
  /* background-color: blue; */
  color: navy;
  border-radius: 50%;
}

.plusheading {
  display: flex;
  /* width: 80%; */
    justify-content: space-between;
    align-items: center;
    background-color: #deeaf5;
    border: 2px solid #b5b4c3;
    color: navy;
    padding: 11px 0 4px 22px;
    margin: 30px 0;
}
.plusheading h5,h3 {
  font-weight: 800; 
}

.plusheading:hover {
  display: flex;
    justify-content: space-between;
    background-color: navy;
    border: 2px solid navy;
    color: white;
    padding: 11px 0 4px 22px;
    margin: 30px 0;
}

.plusheading:hover .ri-add-fill {
  font-size: 1.8em;
  margin: 0 2em;
  /* background-color: blue; */
  color: white;
  border-radius: 50%;
}

.plusheading:hover .ri-indeterminate-circle-line {
  font-size: 1.8em;
  margin: 0 2em;
  /* background-color: blue; */
  color: white;
  border-radius: 50%;
}

/* NNN */
.sidebar {
  background: #191919;
}
.sidebar-nav .nav-link.collapsed {
  color: white;
  background: #191919;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: white;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: white;
  transition: 0.3;
  background: #191919;
  padding: 10px 15px;
  border-radius: 4px;
}

.css-zu3c2a {
  margin-top: 36px;
  opacity: 1;
  background: transparent;
  color: #344767;
  border-radius: none;
  box-shadow: none;
}

.css-zow5z4-MuiGrid-root {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-evenly;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: -24px;
  width: calc(100% + 24px);
  margin-left: -24px;
}
.css-zow5z4-MuiGrid-root>.MuiGrid-item {
  padding-left: 24px;
}

.css-zow5z4-MuiGrid-root>.MuiGrid-item {
  padding-top: 24px;
}

.css-1c7fiqk {
  margin-bottom: 24px;
  opacity: 1;
  background: transparent;
  color: #344767;
  border-radius: none;
  box-shadow: none;
}

.css-xp0xlr-MuiPaper-root-MuiCard-root {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
  box-shadow: 0rem 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1), 0rem 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.06);
  overflow: visible;
  height: 100%;
}

.css-glo75k {
  padding: 1rem;
  opacity: 1;
  background: transparent;
  color: #344767;
  border-radius: none;
  box-shadow: none;
}

.css-1scr5li {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 4px;
  margin-top: -40px;
  height: 12.5rem;
  opacity: 1;
  background: linear-gradient(195deg, #49a3f1, #1A73E8);
  color: #344767;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.25rem 1.25rem 0rem rgba(0, 0, 0, 0.14), 0rem 0.4375rem 0.625rem -0.3125rem rgba(0, 187, 212, 0.4);
}

.css-d4e2jf {
  padding-top: 24px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  opacity: 1;
  background: transparent;
  color: #344767;
  border-radius: none;
  box-shadow: none;
}
.css-185zf7l-MuiTypography-root {
  margin: 0;
  font-size: 1rem;
  line-height: 1.625;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  color: #344767;
  font-weight: 700;
  letter-spacing: 0.0075em;
  opacity: 1;
  text-transform: capitalize;
  vertical-align: unset;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #344767;
}

.css-znq6tb-MuiTypography-root {
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.02857em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #7b809a;
  font-weight: 300;
}

.css-17li347-MuiDivider-root {
  margin: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-width: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: thin;
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(52, 71, 103, 0), rgba(52, 71, 103, 0.4), rgba(52, 71, 103, 0))!important;
  height: 0.0625rem;
  margin: 1rem 0;
  border-bottom: none;
  opacity: 0.25;
}

.css-cz6ae8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
  background: transparent;
  color: #344767;
  border-radius: none;
  box-shadow: none;
}

.css-17eg6aw-MuiTypography-root {
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.02857em;
  line-height: 1;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #7b809a;
  margin-top: 1.2px;
  margin-right: 4px;
}
.css-znq6tb-MuiTypography-root {
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.02857em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #7b809a;
  font-weight: 300;
}
.css-1neevca-MuiIcon-root {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: inherit;
  font-size: inherit!important;
}
.material-icons-round {
  font-family: 'Material Icons Round';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.css-1jolx3e {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 4px;
  margin-top: -40px;
  height: 12.5rem;
  opacity: 1;
  background: linear-gradient(195deg, #66BB6A, #43A047);
  color: #344767;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.25rem 1.25rem 0rem rgba(0, 0, 0, 0.14), 0rem 0.4375rem 0.625rem -0.3125rem rgba(76, 175, 79, 0.4);
}

.css-1is4x1g {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 4px;
  margin-top: -40px;
  height: 12.5rem;
  opacity: 1;
  background: linear-gradient(195deg, #42424a, #191919);
  color: #344767;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.25rem 1.25rem 0rem rgba(0, 0, 0, 0.14), 0rem 0.4375rem 0.625rem -0.3125rem rgba(64, 64, 64, 0.4);
}



.collegeform select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


/* arrows */

.collegeform select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

.collegeform select.classic:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}




.collegeform select.round {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
}

.collegeform select.round:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}


.studentview h5 {
  padding: 13px;
    width: 50%;
    text-align: center;
    font-weight: bold;
    /* background-color: navy; */
    background-color: #009933;
    color: white;
    border-radius: 10px;
}
.studentview label {
  /* font-weight: bold; */
    font-size: 20px;
    color: black;
    font-family: math;
}

#selectcollege {
  color: black;
    font-weight: bold;
    font-family: math;
    font-size: 22px;
}
.logincon h2,h3 {
  font-weight: bold;
    color: black;
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-gif {
  width: 150px;
}

.viewcollege label {
  background-color: #009933;
    color: white;
    padding: 4px;
    border-radius: 7px;
}

.mail-button {
  font-size: 12px;
  padding: 4px;
}
.mail-text {
  font-size: 13px;
}


.imagedownload-container {
  position: relative !important;
  /* To make it a positioned container */
  display: inline-block;
  /* To fit content size */
}

.downloadimage-button {
  position: absolute;
  /* Position it absolutely */
  top: 50%;
  /* Center it vertically */
  left: 50%;
  /* Center it horizontally */
  transform: translate(-50%, -50%);
  /* Center it precisely */
  /* background-color: #007bff; */
  /* color: white; */
  /* border: none; */
  /* padding: 8px 16px; */
  /* cursor: pointer; */
  visibility: hidden;
  /* Initially hidden */
  opacity: 0;
  /* Initially transparent */
  transition: visibility 0s, opacity 0.3s ease-in-out;
  /* Smooth transition */
}

.imagedownload-container:hover .downloadimage-button {
  visibility: visible;
  /* Show the button on hover */
  opacity: 1;
  /* Make it fully visible on hover */
}

.activate_menu {
  background-color: #ff0000b0 !important;
  color: white;
  font-weight: bold;
  box-shadow: inset 0px 0px 9px 0px #00000091;
}

.excel-body tr th {
  text-align: center;
}

.excel-body tr td:nth-child(4) {
  text-align: center;
}

.excel-body tr:hover {
  background-color: #a9de95;
  color: rgb(27, 14, 100) !important;
}
.excel-body tr td {
  font-weight: 500;
  cursor: default;
}