/* @import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    height: 37px;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 100%;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}


.wrap {
    width: 30%;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
} */


/* Add a container to hold the search bar */
.search-container {
    position: sticky;
    /* Change to sticky position to keep it at the top while scrolling */
    top: 100px;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    /* Center-align the search bar */
    z-index: 1;
    /* Ensure the search bar stays on top of other content */
}

.search {
    display: flex;
    align-items: center;
    height: 36px;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 100%;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    margin-left: -1px;
    /* Add a negative margin to align with searchTerm border */
}

.container-heading {
    position: absolute;
        top: -43px;
        text-align: center;
        width: 100%;
        left: 0;
}
.container-heading h4 {
    font-weight: bold;
    font-family: inherit;
}

/* Rest of your styles... */